{% extends 'admin_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="stats">
    <div class="card">
        <h1>{{ total_users }}</h1>
        <p>Total Members</p>
    </div>

    <div class="card">
        <h1>{{ total_books }}</h1>
        <p>Total Books</p>
    </div>

    <div class="card">
        <h1>{{ total_borrowed }}</h1>
        <p>Borrowed Books</p>
    </div>

    <div class="card">
        <h1>{{ total_returned }}</h1>
        <p>Returned Books</p>
    </div>

    <div class="card">
        <h1>{{ overdue }}</h1>
        <p>Overdue Books</p>
    </div>
</div>

{% endblock %}