{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="dashboard">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}">
            </div>

            <ul class="menu">
                <li class="active">Dashboard</li>
                <li>Catalog</li>
                <li>Books</li>
                <li>Users</li>
                <li>Operations</li>
            </ul>

            <div><a href="{% url 'accounts:logout' %}" style="color: rgb(255, 255, 255); padding:15px 30px;"
                    class="menu bottom logout-btn"
                    onclick="return confirm('Are you sure you want to logout?')">Logout</a>
            </div>
        </div>


        <!-- Main -->
        <div class="main">

            <!-- Header -->
            <div class="header">
                <div>
                    <h4>Library staff 1</h4>
                    <span>Library staff</span>
                </div>

                <div class="time">
                    <strong>12:29 PM</strong>
                    <p>Sep 02, 2025</p>
                </div>
            </div>


            <!-- Content -->
            <div class="content">

                <!-- Stats -->
                <div class="stats">
                    <div class="card">
                        <h1>150</h1>
                        <p>Total User Base</p>
                    </div>

                    <div class="card">
                        <h1>2400</h1>
                        <p>Total Book Count</p>
                    </div>

                    <div class="card">
                        <h1>900</h1>
                        <p>Total Borrowed Books</p>
                    </div>

                    <div class="card">
                        <h1>1500</h1>
                        <p>Total Returned Books</p>
                    </div>
                </div>


                <!-- Bottom section -->
                <div class="bottom">

                    <div class="chart">
                        <div class="pie"></div>
                    </div>

                    <div class="staff">
                        <h3>Library Staff</h3>
                    </div>

                    <div class="overdue">
                        <h3>Overdue Borrowers</h3>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>