{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/forgot.css' %}">

</head>

<body>

<div class="forgot-container">

<!-- LEFT -->
<div class="forgot-left">
    <img src="{% static 'images/logo.png' %}" class="logo">

    <h2>EAST ASIA UNIVERSITY OF TECHNOLOGY</h2>

    <p>Please enter your email to create a new password.</p>
</div>

<!-- RIGHT -->
<div class="forgot-right">

    <a href="{% url 'accounts:login' %}" class="back-btn">BACK</a>

    <h1>Forgot Password</h1>
    <p>Please enter your email</p>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST" action="{% url 'accounts:forgot_password' %}">
        {% csrf_token %}

        <input type="email" name="email" placeholder="Email" required>

        <button type="submit">RESET PASSWORD</button>
    </form>

    {% if message %}
        <div class="success">{{ message }}</div>
    {% endif %}

</div>

</div>

</body>
</html>
