{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

```
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
```

</head>
<body>

<div class="login-container">

```
<!-- LEFT FORM -->
<div class="login-left">
    <h1>Welcome Back !!</h1>
    <p>Please enter your credentials to log in</p>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}

        <input 
            type="text" 
            name="username" 
            placeholder="Username" 
            required
        >

        <input 
            type="password" 
            name="password" 
            placeholder="Password" 
            required
        >

        <div class="forgot">
            <a href="{% url 'accounts:forgot_password' %}">
                Forgot password?
            </a>
        </div>

        <button type="submit">SIGN IN</button>
    </form>
</div>

<!-- RIGHT PANEL -->
<div class="login-right">
    <img src="{% static 'images/logo.png' %}" alt="logo">
    <h2>EAST ASIA UNIVERSITY OF TECHNOLOGY</h2>
    <p>New to our platform? <a style ="color: rgb(55, 0, 255);" href="{% url 'accounts:signup' %}">Sign Up.</a></p>
</div>
```

</div>

</body>
</html>
