{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
</head>
<body>

<div class="layout">

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">📚</div>

        <div class="menu active">🏠</div>
        <div class="menu">📖</div>
        <div class="menu">👤</div>

        <a href="{% url 'accounts:logout' %}" 
            class="menu bottom logout-btn"
            onclick="return confirm('Are you sure you want to logout?')">🚪</a>
    </div>

    <!-- Main -->
    <div class="main">

        <!-- Topbar -->
        <div class="topbar">
            <div>
                <div class="username">{{ request.user.username }}</div>
                <div class="role">User</div>
            </div>

            <div class="datetime">
                <div id="time"></div>
                <div id="date"></div>
            </div>
        </div>

        <!-- Cards -->
        <div class="cards">

            <div class="card">
                <div class="icon-box">📖</div>
                <div class="card-text">
                    Your Borrowed <br> Book List
                </div>
            </div>

            <div class="card">
                <div class="icon-box">📚</div>
                <div class="card-text">
                    Your Returned <br> Book List
                </div>
            </div>

            <div class="card">
                <div class="icon-box">📘</div>
                <div class="card-text">
                    Let's browse available book inventory
                </div>
            </div>

            <div class="card">
                <div class="icon-box">📄</div>
                <div class="card-text">
                    View Rules
                </div>
            </div>

        </div>

    </div>

</div>

<script>
function updateTime(){
    const now = new Date();
    document.getElementById("time").innerHTML =
        now.toLocaleTimeString();
    document.getElementById("date").innerHTML =
        now.toDateString();
}
setInterval(updateTime,1000)
updateTime()
</script>

</body>
</html>