body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 930px;
    height: 575px;
    margin: 50px auto;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

/* LEFT PANEL */

.left-panel {
    width: 50%;
    background: black;
    color: white;
    position: relative;
    text-align: center;
}

.logo img {
    width: 171px;
    margin-top: 50px;
}

.university {
    margin-top: 40px;
    font-size: 20px;
    text-decoration: underline;
}

.subtitle {
    margin-top: 30px;
    font-size: 16px;
}

/* RIGHT PANEL */

.right-panel {
    width: 50%;
    padding: 60px;
    position: relative;
}

.right-panel h2 {
    margin: 0;
    font-size: 30px;
}

.right-panel p {
    font-size: 12px;
    margin-bottom: 20px;
}

.right-panel form {
    display: flex;
    flex-direction: column;
}

.right-panel input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #3D3E3E;
}

.right-panel button {
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.back-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 0 0 0 20px;
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: bold;
}